body {
    text-align: center;
}
#firstorsecond {
    font-weight: bold;
    margin-bottom: 40px;
}
#box {
    text-align: center;
    font-weight: bold;
    height: 25px;
    font-size: 15px;
}
.square {
    display: inline-block;
    margin: auto;
    margin-right: -6px;
    padding: 30px;
    border: solid 2px #005FFF;
}
.squarebox {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
}
#submit ,#makerecord{
    background: #75A9FF;
    border: solid 2px #005FFF;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 40px;
}
